@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin transition($property: all, $duration: 0.3s, $timing: ease) {
  transition: $property $duration $timing;
}

@mixin background-image($image) {
  background-image: url($image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin background-image-fixed($image) {
  @include background-image($image);
  background-attachment: fixed;
}

@mixin background-image-overlay($image, $color) {
  @include background-image($image);
  background-color: $color;
}

@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin fade($type) {
  @if $type== "hide" {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
  } @else if $type== "show" {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
  }
}

@mixin skew-background-transition($initial, $hover, $inverted: false) {
  background: linear-gradient(
    90deg,
    $hover 0%,
    $hover 50%,
    $initial 50%,
    $initial 100%
  );
  background-repeat: no-repeat;
  background-size: 200% 100%;

  background-position: right bottom;
  @if $inverted {
    background-position: left bottom;
  }
  transition: background-position 0.25s ease-out;

  &:hover {
    background-position: left bottom;
    @if $inverted {
      background-position: right bottom;
    }
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}
@mixin tablet {
  @media  screen and (max-width: $tablet) {
    @content;
  }
}

@mixin large {
  @media  screen and (max-width: $laptop) {
    @content;
  }
}

@mixin desktop {
  @media  screen and (max-width: $desktop) {
    @content;
  }
}
