@import "./colors";

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face{
  font-family: "Ubuntu Mono";
  src: url("../fonts/UbuntuMono-Regular.ttf") format("truetype");
}

$fon-size-lg: 1.125rem;
$font-size-base: 1rem;
$font-size-base-narrow: 0.875rem;
$font-size-base-px: 16px;
$font-size-base-narrow-px: 14px;
$font-size-jumbo: 2.25rem;
$font-size-large: 1.5rem;
$font-size-mid: 1.25rem;
$font-size-small: 0.875rem;
$font-size-tiny: 0.75rem;
$font-family-base: "JetBrains Mono", sans-serif;
$font-family-headings: "JetBrains Mono", sans-serif;
$font-weight-base: 400;
$font-weight-bold: 700;
$font-weight-headings: 700;
$line-height-base: 1.5;
$line-height-headings: 1.2;
$baseline: 1.5rem;
$leading-base: 1.5;

body {
  font-family: $font-family-base;
  line-height: $leading-base;
  color: $color-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $font-family-headings;
  font-weight: $font-weight-headings;
  line-height: $line-height-headings;
  margin-top: 0;
  margin-bottom: $baseline;

  small {
    font-weight: normal;
  }
}
* + h1,
* + .h1,
* + .alpha,
* + h2,
* + .h2,
* + .beta,
* + h3,
* + .h3,
* + .gamma,
* + h4,
* + .h4,
* + .delta {
  margin-top: $baseline;
}

h1{
  font-size: $font-size-jumbo;
}

h2{
  font-size: $font-size-large;
}

h3{
  font-size: $font-size-mid;
}

h4{
  font-size: $font-size-base;
}

h5{
  font-size: $font-size-small;
}

h6{
  font-size: $font-size-tiny;
}

small {
  font-size: 80%;
}

strong,
b {
  font-weight: $font-weight-bold;
}

em,
i {
  font-style: italic;
}

abbr[title] {
  border-bottom: 1px dotted #ddd;
  cursor: help;
}

blockquote {
  padding-left: 10px;
  margin: $baseline;
  border-left: 4px solid lighten(#000, 80%);

  small {
    display: block;

    &::before {
      content: "\2014 \00A0";
    }
  }
}

q,
blockquote {
  &::before,
  &::after {
    content: "";
  }
}

cite {
  font-style: normal;
}

dfn {
  font-style: italic;
}

mark {
  background: $yellow;
  padding: 2px 4px;
  border-radius: 3px;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.text-centre, 
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

hr {
  margin: ($baseline) 0;
  border: 0;
  height: 1px;
  background-color: $hr-color;
}

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
