.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.is-hidden {
  display: none;
  visibility: hidden;
}

.is-shown {
  display: block;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Hide visually and from screenreaders, but maintain layout
.is-invisible {
  visibility: hidden;
}

.l-floatLeft {
  float: left;
}

.l-floatRight {
  float: right;
}

.l-clear {
  clear: both;
  float: none;
}

.l-mb0 {
  margin-bottom: 0 !important;
}

.l-mt0 {
  margin-top: 0 !important;
}

// Add the default transition to any element
.transition {
  transition: $default-transition;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  touch-action: manipulation;
}

.center{
  margin: 0 auto;
}

.full-h{
 height: 100vh;
}
